@import "variables";

a {

    &.button {
        width: 100%;
        color: white;
        background: $red;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;

        &:hover {
            background: darken($red, 10%)
        }

    }

    &.insertion {
        background: $blue-400;

        &:hover {
            background: darken($blue-400, 10%)
        }
    }

    &.exclusive {
        background: $green-500;

        &:hover {
            background: darken($green-500, 10%)
        }
    }



}

