#contact {
    padding: 10px 0;
    color: $white;
    background: $red;
    text-align: center;


    & p {
        align-self: center;
        padding: 0;
        margin: 0;
    }
}

#header {
    background: $black;
    color: $white;


    & .container {
        display: flex;
        flex-wrap: wrap;
        background: $black;
        justify-content: space-between;
        align-content: center;
        flex: 1 0 auto;
        margin: 0 40px;
        padding: 10px;


        
        & #logo {
            width: 15%;
            padding: 0 0 0 20px;
            align-self: left;

            & img {
                display: block;
                align-self: center;
                width: 150px;
            }
        }

        
        & #nav {
            font-size: 14px;
            font-family: "Open Sans", sans-serif;
            width: 75%;
            align-self: center;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: row;
                justify-content: space-between;

                & li {
                    list-style: none;

                    & > ul {
                        display: none;
                        flex-direction: column;
                        transition: display 0.25s ease;
                    }

                    &:hover > ul {
                        display: flex;
                        position: absolute;
                        background: $red;
                    }

                    & a {
                        display: block;
                        color: $white;
                        text-decoration: none;
                        padding: 15px;
                    }
                }
            }
        }




    }

 
}

@media (max-width: 600px) {

    #header {

        & .container {
            flex: 1 1 100%;
            max-width: 100%;

        }
    }


}



