$grey-100: #F7FAFC;
$grey-200: #EDF2F7;
$grey-300: #E2E8F0;
$grey-400: #CBD5E0;
$grey-700: #4A5568;
$blue-100: #EBF8FF;
$blue-200: #BEE3F8;
$blue-300: #90CDF4;
$blue-400: #63B3ED;

$lite-grey: #C8C8C8;


$white: #FFFFFF;
$black: #000000;
$grey: #d3d3d3;
$dark-grey: darken($grey, 90%);
$light-grey: lighten($grey, 10%);

$red: #EB2D1C;
$dev: #e82e47;
$dev-2: #333434;
$pink: #f9e5e9;


$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;

$gap: 10px;


$text-medium: 14px;

$mobile: 39.9375em;
$tablet: 40em;
$desktop: 64em;

$columns: 12;

$sizes: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;
