@import "variables";

a {

    &.exclusive {
        width: 100%;
        color: white;
        background: $green-500 !important;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;

        &:hover {
            background: darken($green-500, 10%) !important;
        }

    }

}

