@import "variables";

a {

    &.exclusive {
        width: 100%;
        color: white;
        background: $green-500;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 10px;

        &:hover {
            background: darken($green-500, 10%)
        }

    }

}

