@import "variables";
@import "header";


body {
    position: relative;
    padding: 0;
    margin: 0;
    background: $lite-grey;
}

#home {
    font-family: Helvetica;

}

#banner {
    display: flex;
    flex: 1 0 auto;
    background: $white;
    min-height: 20px;
    margin: 20px 40px;
    padding: 10px;

    & ul {
        padding: 0;

        & li {
            list-style: none;
            display: inline;

            &::after {
                content: ">";
                padding: 0 10px;
            }

            &:last-of-type::after {
                content: "";
            }

            & a {
                text-decoration: none;
                color: $red;
                border-bottom: 1px solid transparent;
                transition: border .25s ease;

                &:hover {
                    border-bottom: 1px solid $red;
                }
            }
        }
    }
}


#vehicle {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    min-height: 20px;
    margin: 20px 40px;
    padding: 0;
    justify-content: space-between;


    & #left {
        flex: 0 1 45%;
        align-self: start;
        background: $white;

    }

    & #right {
        flex: 0 1 50%;
        align-self: start;
        background: $white;

    }

    h1 {
        &.vehicle-title {
            padding: 0 10px;
        }

    }

    & .vehicle-image {
        padding: 10px;

        & img {
            width: 100%;
        }
    }


    & .pricing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        padding: 5px 10px;
        //border-bottom: 1px solid $grey-400;

        & .price-text {
            font-size: 1.3em;
        }

        & .price-amnt {
            font-size: 1.8em;
            font-weight: bold;
            color: $red;
        }
    }

    .vehicle-details {
        padding: 5px 10px;
        background: $grey-200;

        & ul {
            padding: 0;
            column-count: 2;

            & li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid $grey-400;


                & .label {
                    font-weight: bold;
                }
                & .description {
                }
            }

        }
    }



}

.buttons {
    padding: 10px;

    & ul.button-block {
        padding: 0;

        & li {
            list-style: none;
            padding: 5px 0;

            a {

                &.button {
                    width: 100%;
                    color: white;
                    background: $red;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    padding: 10px 0;

                    &:hover {
                        background: darken($red, 10%)
                    }
                }
            }

        }
    }
}



#similar {
    display: flex;
    flex: 1 0 auto;
    background: $white;
    min-height: 20px;
    margin: 20px 40px;
    padding: 10px 10px;

    & .container {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;


    & .wrap {
        flex: 1 0 25%;
        max-width: 25%;
        padding: 10px 0;
        text-decoration: none;

        & .vehicle {
            color: $black;
            background: $white;
            padding: 10px;
            display: flex;
            flex-direction: column;
            transition: box-shadow .25s ease;

            &:hover {
                box-shadow: 0 5px 15px -4px rgba(0, 0, 0, .5);
            }

            & p {
                margin: 0;
                padding: 0;
            }

            & .vehicle-image {
                position: relative;

                & img {
                    width: 100%;
                    display: block;
                }

                & .vehicle-feature {
                    margin: 15px 0 0 -7px;
                    position: absolute;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
                    padding: 5px 10px;
                    z-index: 9;
                    background: $black;
                    color: $white;
                    font-size: .7em;
                    letter-spacing: 3px;

                    &::before {
                        display: block;
                        width: 10px;
                        height: 0;
                        position: absolute;
                        bottom: -7px;
                        left: -10px;
                        content: '';
                        border-bottom: 7px solid transparent;
                        border-right: 7px solid;
                        color: darken($black, 20%);
                    }

                    &.special {
                        background: $red;

                        &::before {
                            color: darken($red, 20%);
                        }
                    }

                    &.new {
                        background: $green-500;

                        &::before {
                            color: darken($green-500, 20%);
                        }
                    }

                }
            }

            & .title {
                color: $black;
                font-size: 1.3em;
            }

            & .pricing {
                display: flex;
                justify-content: space-between;
                font-size: 1em;
                padding: 5px 0;
                border-bottom: 1px solid $grey-400;

                & .price-text {
                    font-size: .8em;
                }

                & .price-amnt {
                    font-size: 1em;
                    font-weight: bold;
                    color: $red;
                }
            }

            & .description {
                padding: 0;

                & ul {
                    column-count: 2;
                    margin: 0;
                    padding: 0;

                    & li {
                        font-size: .72em;
                        line-height: 1.8em;
                        list-style: none;
                    }
                }
            }

            & .buttons {
                & ul.button-block {
                    padding: 0;

                    & li {
                        list-style: none;
                        padding: 5px 0;
                    }
                }
            }

        }
        // vehicle
        }
        // wrap
    }

}



@media (max-width: 1400px) {

    #similar {
        & .container {
            & .wrap {
                flex: 1 0 25%;
                max-width: 25%;
            }
        }
    }

}
@media (max-width: 1185px) {

    #similar {
        & .container {
            & .wrap {
                flex: 1 0 25%;
                max-width: 25%;
            }
        }
    }

}

@media (max-width: 985px) {

    
    #similar {
        & .container {
            & .wrap {
                flex: 1 0 33.3333%;
                max-width: 33.3333%;
            }
        }
    }

}

@media (max-width: 895px) {

    #vehicle {

        & #left {
            flex: 1 0 100%;
        }

        & #right {
            flex: 1 0 100%;
        }
    }


}

@media (max-width: 790px) {
    #vehicle {

        & #left {
            flex: 1 0 100%;
        }

        & #right {
            flex: 1 0 100%;
        }
    }

    #similar {
        & .container {
            & .wrap {
                flex: 1 0 50%;
                max-width: 50%;
            }
        }
    }

}

@media (max-width: 600px) {

    #vehicle {

        & #left {
            flex: 1 0 100%;
        }

        & #right {
            flex: 1 0 100%;
        }
    }


    #similar {
        & .container {
            & .wrap {
                flex: 1 0 100%;
                max-width: 100%;
            }
        }
    }

}